<footer class="footer caps">
  <div class="width">

    <ul>
      {% for link in linklists.footer.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}