<div class="basic-page">
  <div class="width">
    <h1 class="on-ready fade-in-up">{{ page.title }}</h1>
    
    <div class="page-body rte on-ready fade-in-up delay-2">
      {{ page.content }}
    </div>
  </div>
</div>

